.pagination {
  display: flex;
  justify-content: center;
}

.pageItem {
}

.pageLink {
  width: 30px;
  height: 30px;
  color: black;
  background-color: #ffffff;
  opacity: 1;
  transition: opacity 250ms linear;
  cursor: pointer;
}

.active {
  background-color: #5ece7b;
  width: 30px;
  height: 30px;
  color: #ffffff;
  opacity: 1;
  transition: opacity 250ms linear;
  cursor: pointer;
}

span {
  cursor: pointer;
}

.pageLink:hover:not(.active) {
  background-color: #ddd;
}
