.pagination {
  display: flex;
  justify-content: center;
}

.pageItem {
}

.pageLink {
  width: 20px;
  height: 20px;
  border: 1px solid #1d1f22;
  background-color: #ffffff;
  opacity: 1;
  transition: opacity 250ms linear;
  cursor: pointer;
}

.pageLink:active {
  color: #ffffff;
  background-color: #1d1f22;
}

span {
  cursor: pointer;
}
