.wrapper {
  display: inline-flex;
  position: relative;
  padding-right: 15px;
  opacity: 1;
  transition: opacity 250ms linear;
}

.button {
  display: inline-flex;
  border: none;
  outline: 1px solid transparent;
  padding: 0;
  background-color: transparent;
  opacity: 1;
  transition: opacity 250ms linear;
  cursor: pointer;
}

.button:hover,
.button:focus {
  opacity: 0.6;
  transition: opacity 250ms linear;
}

.backdrop {
  position: fixed;
  top: 80px;
  right: 100px;
  z-index: 1000;
}

.modal {
  max-height: calc(100vh - 150px);
  max-width: 450px;
  width: 100%;
  padding: 9px 16px 20px 16px;
  overflow-y: auto;
  background-color: #fff;
}

/* Cart item counter */
.counter {
  position: absolute;
  bottom: 8px;
  left: 13px;
  padding: 3px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #1d1f22;
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1721;
  text-align: center;
  cursor: pointer;
}

/* Cart modal */
.title {
  margin-bottom: 10px;
  font-size: 16px;
}

.title__name {
  font-weight: 900;
}

.product__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 15px;
}

.product__content {
  width: 140px;
  margin: 10px 0;
}

.product__name {
  font-size: 20px;
  font-weight: 500;
  margin-top: -15px;
}

.product__price {
  font-weight: 500;
}

.counters {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}

.square__button {
  width: 24px;
  height: 24px;
  border: 1px solid #1d1f22;
  background-color: #ffffff;
  opacity: 1;
  transition: opacity 250ms linear;
  cursor: pointer;
}

.square__button:active {
  color: #ffffff;
  background-color: #1d1f22;
}

.square__button--disabled {
  border: 1px solid #a6a6a6;
  opacity: 0.6;
  background-color: rgba(166, 166, 166, 0.2);
  pointer-events: none;
}
.counters__up {
  margin-bottom: 30px;
}

.counters__count {
  font-weight: 500;
}

.counters__down {
  margin-top: 33px;
}

.product__thumb {
  height: 137px;
}

.product__image {
  max-width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

.total__text {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  line-height: 1.125;
}

.total__price {
  font-weight: 700;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons__link {
  width: 140px;
  padding: 13px;

  font-size: 14px;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;

  cursor: pointer;

  opacity: 1;
  transition: opacity 250ms linear;
}

.buttons__link:hover,
.buttons__link:focus {
  opacity: 0.6;
  transition: opacity 250ms linear;
}

.buttons__view {
  border: 1px solid #1d1f22;

  color: #1d1f22;
  background-color: #ffffff;
}

.buttons__check {
  border: 1px solid transparent;

  color: #ffffff;
  background-color: #5ece7b;
}

.close {
  position: absolute;
  top: 10px;
  right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: transparent;
  border: none;
  transform: scale(1);
  transition: all 250ms linear;
  cursor: pointer;
}

.close:hover,
.close:focus {
  transform: scale(1.5);
  transition: all 250ms linear;
}

.hidden {
  overflow: hidden;
}

.subtitle {
  font-family: Roboto Condensed, sans-serif;
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
}

.attributes {
  margin: 5px 0px;
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 3fr;
}

.radio {
  min-width: 30px;
  height: 30px;
  border: 1px solid #1d1f22;
  color: #292929;
  background-color: #ffffff;
  font-family: Source Sans Pro, sans-serif;
  font-weight: 400;
}

.radioImg {
  width: 20px;
  height: 20px;
}

.radioSelected {
  min-width: 30px;
  height: 30px;
  background-color: #292929;
  color: #ffffff;
  font-family: Source Sans Pro, sans-serif;
  font-weight: 400;
}
.radioSelectedImg {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 20px;
  height: 20px;
}

.buttonContainer {
  margin: 3px;
  padding: 2px;
  display: flex;
}

.buttonContainerImg {
  position: relative;
  margin: 3px;
  padding: 2px;
  border: 1px solid #5ece7b;
  display: flex;
}
